/******************************************************************************** UNIVERSAL */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
footer,
header,
nav,
section {
  display: block;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}

/******************************************************************************** MAIN HEADING */
header {
  margin-left: 1rem;
}
h1 {
  color: white;
  font-size: 4rem;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/******************************************************************************** MAIN IMAGE & TEXT */
#mainImg figure {
  top: 0;
  margin: 0;
}
#mainImg img {
  width: 100%;
  height: 45rem;
}

/******************************************************************************** ATTRACTIONS */
h2 {
  text-align: center;
  font-size: 3rem;
}
#attractionImg ul {
  list-style: none;
}
#attractionImg figure {
  display: inline;
}
#attractionImg img {
  width: 26%;
  height: 17rem;
  border-radius: 50%;
}
